<template>
  <div id="app">

    <h2 class="bg-success text-white text-center p-3">Welcome {{ nama }}</h2>
    <div class="container-fluid p-4">
      <div class="row" v-if="filterTasks.length == 0">
        <div class="col text-center text-white bg-secondary p-2">
          <b>Tidak Ada Tasks</b>
        </div>
      </div>
      <template v-else>
      <div class="row">
        <div class="col font-weight-bold">Task</div>
        <div class="col-2 font-weight-bold">Done</div>
      </div>
        <div class="row" v-for="t in filterTasks" :key="t.action">
          <div class="col">{{t.action}}</div>
          <div class="col-2 text-center"><input type="checkbox" v-model="t.done" class="form-check-input" /></div>
      </div>
    </template>
      <div class="row py-2">
        <div class="col">
          <input v-model="newItemText" class="form-control" />
        </div>
        <div class="col-2">
          <button class="btn btn-success" @click="addNew">Add</button>
        </div>
      </div>
    </div>
     <div class="row bg-secondary py-2 mt-2 text-white">
        <div class="col text-center">
          <input type="checkbox" v-model="hideCompleted" class="form-check-input" />
          <label class="form-check-label font-weight-bold">
            Hide completed tasks
          </label>
        </div>
        <div class="col text-center">
          <button class = "btn btn-sm btn-danger"
            @click="deleteCompleted">
            Delete Completed
          </button>
        </div>
      </div>
  </div>
</template>

<script>

export default {
  name: 'app',
  data (){
  return {
    nama : "Pramahadi",
    tasks : [],
            hideCompleted: true,
            newItemText: ""
    }
  },

  computed: {
    filterTasks() {
      return this.hideCompleted ?
        this.tasks.filter(t => !t.done) : this.tasks
    }
  },

  methods: {
    addNew() {
      this.tasks.push({
        action: this.newItemText,
        done: false
      });
      this.storeData();
      this.newItemText= "";
      console.log('Task di tambahkan');
    },

    storeData() {
      localStorage.setItem("task", JSON.stringify(this.tasks));
    },

    deleteCompleted() {
      this.tasks = this.tasks.filter(t => !t.done);
      this.storeData();
      console.log('Task di hapus');
    }
  },

    created() {
      let data = localStorage.getItem("task");
      if (data != null) {
        this.tasks =  JSON.parse(data);
      }
    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}
</style>